@font-face {
    font-family: 'Montserrat Thin';
    src: url('./fonts/Montserrat-Thin.eot');
    src: url('./fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Montserrat-Thin.woff') format('woff'),
    url('./fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Montserrat Semibold';
    src: url('./fonts/Montserrat-SemiBold.eot');
    src: url('./fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Montserrat-SemiBold.woff') format('woff'),
    url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    